
  
  <body>
    <!-- Page-->
    <div class="page text-center">
      <div class="page-loader page-loader-variant-1">
        <div><img class='img-responsive' style='margin-top: -20px;margin-left: -18px;' width='330' height='67' src='assets/images/intense/logo-big.png' alt=''/>
          <div class="offset-top-41 text-center">
            <div class="spinner"></div>
          </div>
        </div>
      </div>
      <!-- Page Head-->
      <header class="page-head slider-menu-position">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-default rd-navbar-transparent" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='assets/intense/logo-light.png' alt=''/></a></div>
              </div>
              <div class="rd-navbar-menu-wrap">
                <div class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-mobile-scroll">
                    <!--Navbar Brand Mobile-->
                    <div class="rd-navbar-mobile-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='assets/intense/logo-light.png' alt=''/></a></div>
                    <div class="form-search-wrap">
                      <!-- RD Search Form-->
                      <form action="search-results.html" method="GET" class="form-search rd-search">
                        <div class="form-group">
                          <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                          <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>
                        </div>
                        <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                      </form>
                    </div>
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="active"><a href="index.html"><span>Home</span><span class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label">new</span></a>
                        
                      </li>
                      
                    </ul>
                  </div>
                </div>
                <!--RD Navbar Search-->
                
                <!--RD Navbar shop-->
                
                
              </div>
            </div>
          </nav>
        </div>
        <!--Swiper-->
        <div class="rd-parallax rd-parallax-swiper">
          <div data-speed="0.3" data-sm-speed="1" data-type="html" class="rd-parallax-layer">
            <div data-loop="true" data-height="100vh" data-dragable="false" data-min-height="480px" class="swiper-container swiper-slider">
              <div class="swiper-wrapper text-center">
                <div id="page-loader" data-slide-bg="assets/intros/intro-04-1920x955.jpg" data-preview-bg="assets/intros/intro-04-1920x955.jpg" class="swiper-slide">
                  <div data-speed="0.5" data-fade="true" class="swiper-caption swiper-parallax">
                    <div class="swiper-slide-caption">
                      <div class="shell">
                        <div class="range range-lg-center">
                          <div class="cell-lg-12">
                            <h1><span data-caption-animate="fadeInUp" data-caption-delay="700" class="big text-uppercase">Welcome to Intense</span></h1>
                          </div>
                          <div class="cell-lg-10 offset-top-30">
                            <h4 data-caption-animate="fadeInUp" data-caption-delay="900" class="hidden reveal-sm-block text-light">
                              The smartest and most flexible bootstrap template by TemplateMonster you've ever seen.
                              Create exactly what you need with our powerful bootstrap toolkit.
                            </h4>
                            <div class="group group-xl offset-top-20 offset-xs-top-50"><a href="//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&amp;utm_medium=themebutton&amp;utm_campaign=intense" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-primary btn-lg btn-anis-effect"><span class="btn-text">Buy intense now</span></a><a href="#" data-custom-scroll-to="home-section-welcome" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-default btn-lg btn-anis-effect"><span class="btn-text">Start a journey</span></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-preview-bg="assets/intro-video/intro-video-lg.jpg" class="swiper-slide">
                          <!-- RD Video-->
                          <div data-rd-video-path="assets/747/747" data-rd-video-image-xs="16" data-rd-video-image-sm="16" data-rd-video-image-md="22" data-rd-video-image-lg="41" data-rd-video-image-xlg="41" data-rd-video-autoplay="false" data-rd-video-preload="metadata" class="rd-video">
                            <div data-speed="0.5" data-fade="true" class="swiper-caption swiper-parallax">
                              <div class="swiper-slide-caption">
                                <div class="shell">
                                  <div class="range range-lg-center">
                                    <div class="cell-lg-12">
                                      <h1><span data-caption-animate="fadeInUp" data-caption-delay="700" class="big text-uppercase">Built as a framework</span></h1>
                                    </div>
                                    <div class="cell-lg-10 offset-top-30">
                                      <h4 data-caption-animate="fadeInUp" data-caption-delay="900" class="hidden reveal-sm-block text-light">
                                        Intense was designed as extended version of bootstrap, built as a complex
                                        and flexible solution with a dozen of completely new
                                        utilities, components and plugins.
                                      </h4>
                                      <div class="group group-xl offset-top-20 offset-xs-top-50"><a href="ui-kit.html" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-icon btn-icon-left btn-default btn-lg btn-anis-effect"><span class="btn-text">See it in action</span></a></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
                <div data-slide-bg="assets/intros/intro-05-1920x955.jpg" data-preview-bg="assets/intros/intro-05-1920x955.jpg" class="swiper-slide">
                  <div data-speed="0.5" data-fade="true" class="swiper-caption swiper-parallax">
                    <div class="swiper-slide-caption">
                      <div class="shell">
                        <div class="range range-lg-center">
                          <div class="cell-lg-12">
                            <h1><span data-caption-animate="fadeInUp" data-caption-delay="700" class="big text-uppercase">Unlimited opportunities</span></h1>
                          </div>
                          <div class="cell-lg-10 offset-top-30">
                            <h4 data-caption-animate="fadeInUp" data-caption-delay="900" class="hidden reveal-sm-block text-light">
                              Intense is the easiest way for you to build different sites
                              without using many  themes.
                            </h4>
                            <div class="group group-xl offset-top-20 offset-xs-top-50"><a href="#" data-custom-scroll-to="home-section-childs" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-icon btn-icon-left btn-default btn-lg btn-anis-effect"><span class="btn-text">Discover child themes</span></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-slide-bg="assets/intros/intro-06-1920x955.jpg" data-preview-bg="assets/intros/intro-06-1920x955.jpg" class="swiper-slide">
                  <div data-speed="0.5" data-fade="true" class="swiper-caption swiper-parallax">
                    <div class="swiper-slide-caption">
                      <div class="shell">
                        <div class="range range-lg-center">
                          <div class="cell-lg-12">
                            <h1><span data-caption-animate="fadeInUp" data-caption-delay="700" class="big text-uppercase">ULTRA sharp & RESPONSIVE</span></h1>
                          </div>
                          <div class="cell-lg-10 offset-top-30">
                            <h4 data-caption-animate="fadeInUp" data-caption-delay="900" class="hidden reveal-sm-block text-light offset-bottom-0">
                              Beautiful and clean designs are optimized for all screen sizes
                              and types. Taste a new meaning of Retina Ready.
                            </h4>
                            <div class="group group-xl offset-top-20 offset-xs-top-50"><a href="//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&amp;utm_medium=themebutton&amp;utm_campaign=intense" data-caption-animate="fadeInUp" data-caption-delay="1200" class="btn btn-icon btn-icon-left btn-primary btn-lg btn-anis-effect"><span class="icon mdi mdi-cart-outline"></span><span class="btn-text">Buy intense now</span></a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-speed="0.5" class="swiper-button swiper-button-prev swiper-parallax">
                <div class="preview">
                  <div class="preview__img preview__img-3"></div>
                  <div class="preview__img preview__img-2"></div>
                  <div class="preview__img preview__img-1"></div>
                </div>
              </div>
              <div data-speed="0.5" class="swiper-button swiper-button-next swiper-parallax">
                <div class="preview">
                  <div class="preview__img preview__img-1"></div>
                  <div class="preview__img preview__img-2"></div>
                  <div class="preview__img preview__img-3"></div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </header>
      <!-- Page Contents-->
      
      <!-- Page Footer-->
      <!-- Default footer-->
      
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
  


  </body>
</html>
